
.jumbotrom {
	border-radius:  0px;
	background-image: url("/web.webp");
	height: 350px;
	background-size: cover;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


